/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/

body {
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

article {
  padding: 0 1em;
}

section {
  margin: 1em;
  padding: 1em;
}

header,
main,
footer {
  margin: 0 auto;
}

header {
  color: white;
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-image: url('img/bg.jpg');
  background-position: fixed;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
}

h3,
h4 {
  font-weight: bold;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  opacity: 0.5;
}

.course,
.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  color: #509e98;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}

.course .description {
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}

.course .link {
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}

.course .link img {
  max-height: 50px;
  margin-left: 50%;
}

.course .description p {
  padding-left: 1em;
}

.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.school span {
  color: #A7B8BF;
}

.skills .column ul,
ul.job-description {
  list-style-type: none;
}

ul.job-description li:before {
  content: "✔";
  padding-right: 0.5em;
  color: #509e98;
}

.skills .column ul > li:before {
  content: "►";
  padding-right: 0.5em;
  color: #509e98;
}

.job {
  padding: 0.5em;
}

.education {
  padding: 0.5em;
}

.education .description {
  font-style: italic;
}

.school,
.job-title {
  text-transform: capitalize;
}

.school span,
.job-title span {
  color: #889499;
  text-decoration: underline;
}

footer {
  padding: 1em;
}

@media only screen and (max-width: 768px) {
  .course {
    display: block;
  }

  .course .title,
  .course .descrition {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }

  footer {
    text-align: center;
  }
}
